<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if Info.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ Info.email }}">{{ Info.email }}</a>
    </li>
    {% endif %}

    {% if Info.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ Info.phone }}">{{ Info.phone }}</a>
    </li>
    {% endif %}

    {% if Info.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ Info.website }}" target="_blank">{{ Info.website }}</a>
    </li>
    {% endif %}

    {% if Info.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ Info.linkedin }}" target="_blank">{{ Info.linkedin }}</a>
    </li>
    {% endif %}

    {% if Info.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ Info.github }}" target="_blank">{{ Info.github }}</a>
    </li>
    {% endif %}

    {% if Info.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ Info.gitlab }}" target="_blank">{{ Info.gitlab }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
